html {
  font-size: 14px;
}
.text-red-fiap {
    color: #ed145b !important;
}
.border-red-fiap {
    border-color: #ed145b !important;
}
.bg-red-fiap {
    background-color: #ed145b !important;
}
.bg-dark-fiap {
    background-color: #161616 !important;
}
.text-cinza-fiap {
    color: #828282;
}
.link-hover::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: #ed145b;
    transition: 300ms;
}

.link-hover:hover::after {
    width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}